/* .nav, .pagination, .carousel, .panel-title a { cursor: pointer; } */

/*  See: http://angular-ui.github.io/bootstrap/#/getting_started */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  font-family: 'Walter Turncoat', serif;
  font-size: 14px;
  overflow: hidden;  /* hide the scrollbar */
}

.toolbar {
  top: 51px;
}

.sidebar-left {
  top: 101px;  /* menubar 50 + toolbar 51 */
  left: 0;

  border-right: 1px solid #eee;
  bottom: 0;
  display: block;
  padding: 0px;  /* padding: 5px; */
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;

  /* z-index: 1000;  */
}

.content-container {
  top: 101px;  /* menubar 50 + toolbar 51 */

  display: block;
  padding: 0px;

  /* z-index: 1001;  */
}

.content {
  top: 101px;  /* menubar 50 + toolbar 51 */

  background-color: #f5f5f5;
  display: block;
  padding: 10px;
  position: fixed;
  overflow-x: auto;
  overflow-y: auto;

  width: 800px;
  height: 600px;
}

.sidebar-right {
  top: 101px;  /* menubar 50 + toolbar 51 */

  border-left: 1px solid #eee;
  bottom: 0;
  display: block;
  padding: 0px;  /* padding: 5px; */
  position: fixed;
  overflow-x: hidden;  /* hide the scrollbar */
  overflow-y: auto;

  /* z-index: 1002;  */
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  background-color: #f5f5f5;
}

.tab-content {
  background-color: #f5f5f5;
  padding: 5px;
}

.form-content {
  font-family: 'Tahoma', serif;
  font-size: 14px;
}

.sign-in {
  padding-right: 35px;
}
