
/* .nav, .pagination, .carousel, .panel-title a { cursor: pointer; } */

/*

https://developers.google.com/fonts/docs/getting_started
http://www.cssfontstack.com/Web-Fonts
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Walter+Turncoat" />

*/

/* The fixed navbar will overlay your other content, unless you add padding to the top of the <body>. */

body {
  padding-top: 60px;
  font-family: 'Walter Turncoat', serif;
  font-size: 14px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}
