<!--
  Note: Where possible you should prefer the translateDirective (e.g., translate="{{ 'BRAND_NAME' }}") to
  the translateFilter (e.g., {{ 'BRAND_NAME' | translate }}).
-->

<div>

  <!--
  Format Diagram
  -->

  <div ng-hide="main.formatShape">

    <uib-accordion close-others="false">
      <uib-accordion-group class="accordion-panel" ng-init="formatDiagram.open = true" is-open="formatDiagram.open">

        <uib-accordion-heading>
          {{ 'FORMAT_DIAGRAM' | translate }}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': formatDiagram.open,
          'glyphicon-chevron-right': !formatDiagram.open}">
          </i>
        </uib-accordion-heading>

        <div class="form-group">
          Diagram stuff goes here ...
        </div>

      </uib-accordion-group>
    </uib-accordion>

  </div> <!-- end <div ng-hide="main.formatShape"> -->

  <!--
  Format Shape
  -->

  <div ng-show="main.formatShape">

    <uib-accordion close-others="false">
      <uib-accordion-group class="accordion-panel" ng-init="formatShape.open = true" is-open="formatShape.open">

        <uib-accordion-heading>
          {{ 'FORMAT_SHAPE' | translate }}
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': formatShape.open,
          'glyphicon-chevron-right': !formatShape.open}">
          </i>
        </uib-accordion-heading>

        <uib-tabset justified="true">

          <uib-tab heading="Text">
            <div class="tab-content">
              <form name="shapeForm">

                <div class="form-group">
                  <label translate="{{ 'NAME' }}"></label>
                  <input type="text" ng-model="main.shape.text" ng-blur="main.setShapeName(main.shape.text)"
                         autofocus class="form-control form-content"/>
                </div>

                <div class="form-group">
                  <label translate="{{ 'FONT' }}"></label>
                  <select ng-model="main.shape.fontFamily" class="form-control form-content">
                    <option ng-repeat="font in main.fontFamilies track by font.id">{{font.value}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label translate="{{ 'FONT_SIZE' }}"></label>
                  <select ng-model="main.shape.fontSize" class="form-control form-content">
                    <option ng-repeat="size in main.fontSizes track by size.id">{{size.value}}</option>
                  </select>
                </div>

                <label translate="{{ 'FONT_STYLE' }}"></label>
                <div class="form-group">
                  <button type="button" class="btn btn-default" ng-click="main.toggleBold()"
                          uib-tooltip="{{ 'BOLD' | translate }}">
                    <span class="fa fa-bold fa-fw"></span>
                  </button>
                  <button type="button" class="btn btn-default" ng-click="main.toggleItalic()"
                          uib-tooltip="{{ 'ITALIC' | translate }}">
                    <span class="fa fa-italic fa-fw"></span>
                  </button>
                </div>

                <!-- <hr> -->

                <label translate="{{ 'ALIGNMENT' }}"></label>
                <div class="form-group">
                  <button type="button" class="btn btn-default"
                          uib-tooltip="{{ 'ALIGN_LEFT' | translate }}">
                    <span class="fa  fa-align-left fa-fw"></span>
                  </button>
                  <button type="button" class="btn btn-default"
                          uib-tooltip="{{ 'ALIGN_CENTER' | translate }}">
                    <span class="fa fa-align-center fa-fw"></span>
                  </button>
                  <button type="button" class="btn btn-default"
                          uib-tooltip="{{ 'ALIGN_RIGHT' | translate }}">
                    <span class="fa fa-align-right fa-fw"></span>
                  </button>
                  <button type="button" class="btn btn-default"
                          uib-tooltip="{{ 'ALIGN_TOP' | translate }}">
                    <span class="fa fa-arrow-up fa-fw"></span>
                  </button>
                  <button type="button" class="btn btn-default"
                          uib-tooltip="{{ 'ALIGN_BOTTOM' | translate }}">
                    <span class="fa fa-arrow-down fa-fw"></span>
                  </button>
                </div>

              </form>
            </div>
          </uib-tab>

          <uib-tab heading="Style">
            <div class="tab-content">
              <form name="styleForm">

                <div class="form-group">
                  <div class="row-fluid">

                    <ul class="thumbnails">
                      <li class="thumbnail">
                        <a href="#">
                          <img src="http://placehold.it/32x32/E3F09B">
                        </a>
                      </li>
                      <li class="thumbnail">
                        <a href="#" >
                          <img src="http://placehold.it/32x32/E3F09B">
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>

                <div class="form-group">
                  <div class="row">

                    <div class="col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/32x32/E3F09B">
                      </a>
                    </div>

                    <div class="col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/32x32/F7D08A">
                      </a>
                    </div>

                    <div class="col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/32x32/87B6A7">
                      </a>
                    </div>

                    <div class="col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/32x32/F79F79">
                      </a>
                    </div>

                    <div class="col-md-3">
                      <a href="#" class="thumbnail">
                        <img src="http://placehold.it/32x32/5B5941">
                      </a>
                    </div>

                  </div>
                </div>







              </form>
            </div>
          </uib-tab>

          <uib-tab heading="Arrange">
            <div class="tab-content">
              <form name="arrangeForm">

              </form>
            </div>
          </uib-tab>

        </uib-tabset>

      </uib-accordion-group>
    </uib-accordion>

  </div> <!-- end <div ng-show="main.formatShape"> -->

</div>

<!--
<button type="button" class="btn btn-default"
        uib-tooltip="{{ 'UNDERLINE' | translate }}">
  <span class="fa fa-underline fa-fw"></span>
</button>
<button type="button" class="btn btn-default"
        uib-tooltip="{{ 'STRIKETHROUGH' | translate }}">
  <span class="fa fa-strikethrough fa-fw"></span>
</button>
-->

<!--

                  <select class="form-control form-content" ng-model="main.shape.fontFamily"
                          ng-options="font.value for font in main.fontFamilies track by font.id">
                  </select>


    <hr class="separator">
              <div class="clearfix"></div>

  ng-blur="main.setShapeName(main.shape.text)"

  ng-pattern="example.word"

  <div ng-show="!main.formatShape" class="ng-hide">
  <div ng-show="main.formatShape" class="ng-hide">

  <div ng-show="!main.formatShape">
  <div ng-show="main.formatShape">

  active="true" disable="false"
  required ng-model="model.name"



<div class="input-group">
  <input type="text" class="form-control">
  <div class="input-group-btn">
    <button tabindex="-1" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>

-->
