<!--
  Note: Where possible you should prefer the translateDirective (e.g., translate="{{ 'BRAND_NAME' }}") to
  the translateFilter (e.g., {{ 'BRAND_NAME' | translate }}).
-->

<div>

  <!--
  Format Diagram
  -->

  <div ng-hide="main.formatShape">

    <uib-accordion close-others="false">
      <uib-accordion-group class="accordion-panel" ng-init="formatDiagram.open = true" is-open="formatDiagram.open">

        <uib-accordion-heading>
          Format Diagram
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': formatDiagram.open,
          'glyphicon-chevron-right': !formatDiagram.open}">
          </i>
        </uib-accordion-heading>

      </uib-accordion-group>
    </uib-accordion>

  </div> <!-- end <div ng-hide="main.formatShape"> -->

  <!--
  Format Shape
  -->

  <div ng-show="main.formatShape">

    <uib-accordion close-others="false">
      <uib-accordion-group class="accordion-panel" ng-init="formatShape.open = true" is-open="formatShape.open">

        <uib-accordion-heading>
          Format Shape
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': formatShape.open,
          'glyphicon-chevron-right': !formatShape.open}">
          </i>
        </uib-accordion-heading>

        <uib-tabset justified="true">

          <uib-tab heading="Text">
            <div class="tab-content">
              <form name="shapeForm">
                <div class="form-group">

                  <label>Name</label>
                  <input type="text" ng-model="main.shape.text" ng-blur="main.setShapeName(main.shape.text)" autofocus class="form-control form-content"/>

                </div>
                <div class="form-group">

                  <label>Font</label>
                  <select class="form-control form-content">
                    <option>Helvetica</option>
                    <option>Tahoma</option>
                    <option>Verdana</option>
                  </select>

                </div>

                <div class="form-group">
                  <br><br><br><br>
                  <br><br><br><br>
                  <br><br><br><br>
                </div>

                <div class="form-group">
                  <br><br><br><br>
                  <br><br><br><br>
                  <br><br><br><br>
                </div>

              </form>
            </div>
          </uib-tab>

          <uib-tab heading="Style">Style stuff goes here ...</uib-tab>
          <uib-tab heading="Arrange">Arrange stuff goes here ...</uib-tab>

        </uib-tabset>

      </uib-accordion-group>
    </uib-accordion>

  </div> <!-- end <div ng-show="main.formatShape"> -->

</div>

<!--
    <hr class="separator">
              <div class="clearfix"></div>

  ng-blur="main.setShapeName(main.shape.text)"

  ng-pattern="example.word"

  <div ng-show="!main.formatShape" class="ng-hide">
  <div ng-show="main.formatShape" class="ng-hide">

  <div ng-show="!main.formatShape">
  <div ng-show="main.formatShape">

  active="true" disable="false"
  required ng-model="model.name"

-->
