<div class="col-xs-4 col-sm-4 col-md-3 sidebar">

  <uib-accordion close-others="false">

    <!-- Shapes Group -->

    <uib-accordion-group ng-init="shapeGroup.open = true" is-open="shapeGroup.open">

      <uib-accordion-heading>
        {{ 'SHAPES' | translate }}
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': shapeGroup.open,
          'glyphicon-chevron-right': !shapeGroup.open}"></i>
      </uib-accordion-heading>

      <div class="media">
        <a class="pull-left" href="">
          <img class="media-object" ng-src="content/images/icons/32x32/light-gray.png">
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="" translate="{{ 'SQUARE' }}"></a>
            <!-- {{ 'SQUARE' | translate }} -->
          </h4>
        </div>
      </div>

     </uib-accordion-group>

    <!-- Containers Group -->

    <uib-accordion-group ng-init="containerGroup.open = true" is-open="containerGroup.open">

      <uib-accordion-heading>
        {{ 'CONTAINERS' | translate }}
        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': containerGroup.open,
          'glyphicon-chevron-right': !containerGroup.open}"></i>
      </uib-accordion-heading>

      <div ng-repeat="container in containers track by container.id">

        <div class="media" style="margin-top: 15px">
          <a class="pull-left" href="" ng-click="newContainer(container.name, container.backgroundColor)">
            <img class="media-object" ng-src="{{container.src}}">
          </a>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="" ng-click="newContainer(container.name, container.backgroundColor)">
                {{ container.name | translate }}
              </a>
            </h4>
          </div>
        </div>

        <div></div>

      </div> <!-- <div ng-repeat="container in containers track by container.id"> -->

    </uib-accordion-group>

  </uib-accordion>

</div>

