<nav class="navbar navbar-default navbar-fixed-top toolbar">
  <form class="navbar-form navbar-left">

    <button type="button" class="btn btn-default" ng-click="toggleGrid()"
            uib-tooltip="{{ 'GRID' | translate }}" tooltip-placement="bottom">
      <span class="glyphicon glyphicon-th"></span>
    </button>

    <button type="button" class="btn btn-default" ng-click="toggleSnapToGrid()"
            uib-tooltip="{{ 'SNAP_TO_GRID' | translate }}" tooltip-placement="bottom">
      <span class="glyphicon glyphicon-magnet"></span>
    </button>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" disabled="disabled"
              uib-tooltip="{{ 'ZOOM_IN' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-zoom-in"></span>
      </button>
      <button type="button" class="btn btn-default" disabled="disabled"
              uib-tooltip="{{ 'ZOOM_OUT' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-zoom-out"></span>
      </button>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" disabled="disabled"
              uib-tooltip="{{ 'UNDO' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button type="button" class="btn btn-default" disabled="disabled"
              uib-tooltip="{{ 'REDO' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>

    <!--
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" disabled="disabled"
              uib-tooltip="{{ 'CUT' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-asterisk"></span>
      </button>
      <button type="button" class="btn btn-default" disabled="disabled"
              uib-tooltip="{{ 'COPY' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-asterisk"></span>
      </button>
      <button type="button" class="btn btn-default" disabled="disabled"
              uib-tooltip="{{ 'PASTE' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-asterisk"></span>
      </button>
    </div>
    -->


    <button type="button" class="btn btn-default"
            uib-tooltip="{{ 'DELETE' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-trash"></span>
    </button>

    <button type="button" class="btn btn-default" ng-click="setPointerMode()"
            uib-tooltip="{{ 'POINTER' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="setConnectorMode()"
            uib-tooltip="{{ 'CONNECTOR' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-pencil"></span>
    </button>


    <button type="button" class="btn btn-default" disabled="disabled"
            uib-tooltip="{{ 'LOCK' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-lock"></span>
    </button>

    <button type="button" class="btn btn-default" disabled="disabled"
            uib-tooltip="{{ 'COMMENT' | translate }}" tooltip-placement="bottom"> <span class="glyphicon glyphicon-comment"></span>
    </button>

  </form>
</nav>

  <!--

glyphicon-pushpin


    <form class="navbar-form navbar-left">
    <div class="btn-toolbar" role="toolbar">

      <button type="button" class="btn btn-default" tooltip="Grid" tooltip-placement="bottom">
        <span class="glyphicon glyphicon-th"></span>
      </button>

      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-default" tooltip="Grid" tooltip-placement="bottom">
          <span class="glyphicon glyphicon-zoom-in"></span>
        </button>
        <button type="button" class="btn btn-default" tooltip="Grid" tooltip-placement="bottom">
          <span class="glyphicon glyphicon-zoom-in"></span>
        </button>
      </div>

    </div>
  </form>

  <form class="navbar-form navbar-left">
    <div class="btn-toolbar" role="toolbar">

      <button type="button" class="btn btn-default" tooltip="Grid" tooltip-placement="bottom"><span class="glyphicon glyphicon-th"></span></button>

      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-default">Left</button>
        <button type="button" class="btn btn-default">Middle</button>
        <button type="button" class="btn btn-default">Right</button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>
      </div>
    </div>
  </form>

  <form class="navbar-form navbar-left">
    <button type="button" class="btn btn-primary" disabled="disabled">Default button</button>
    <button type="button" class="btn btn-primary btn-sm">Small button</button>
    <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
      <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    </button>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Left</button>
      <button type="button" class="btn btn-default">Middle</button>
      <button type="button" class="btn btn-default">Right</button>
    </div>

  </form>
  -->

<!--

  tooltip="{{item.name + (isDisabled(item.name)?' is not available' : '')}}"

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>

 -->
