<!--
  Note: Where possible you should prefer the translateDirective (e.g., translate="{{ 'BRAND_NAME' }}") to
  the translateFilter (e.g., {{ 'BRAND_NAME' | translate }}).
-->

<uib-accordion close-others="false">
  <uib-accordion-group class="accordion-panel" ng-init="formatShape.open = true" is-open="formatShape.open">

    <uib-accordion-heading>
      {{ 'FORMAT_SHAPE' | translate }}
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': formatShape.open,
          'glyphicon-chevron-right': !formatShape.open}">
      </i>
    </uib-accordion-heading>

    <uib-tabset justified="true">

      <!--
      Font
      -->

      <uib-tab heading="{{ 'FONT' | translate }}">
        <div class="tab-content">
          <form name="shapeForm">

            <div class="form-group">
              <label translate="{{ 'NAME' }}"></label>
              <input type="text" ng-model="main.shape.text" class="form-control form-content"/>
              <!-- ng-blur="main.setShapeName(main.shape.text)" autofocus /> -->
            </div>

            <div class="form-group">
              <label translate="{{ 'FONT' }}"></label>
              <select ng-model="main.shape.fontFamily" class="form-control form-content">
                <option ng-repeat="font in main.fontFamilies track by font.id">{{font.value}}</option>
              </select>
            </div>

            <div class="form-group">
              <label translate="{{ 'FONT_SIZE' }}"></label>
              <select ng-model="main.shape.fontSize" class="form-control form-content">
                <option ng-repeat="size in main.fontSizes track by size.id">{{size.value}}</option>
              </select>
            </div>

            <label translate="{{ 'FONT_STYLE' }}"></label>
            <div class="form-group">
              <button type="button" class="btn btn-default" ng-click="main.toggleBold()"
                      uib-tooltip="{{ 'BOLD' | translate }}">
                <span class="fa fa-bold fa-fw"></span>
              </button>
              <button type="button" class="btn btn-default" ng-click="main.toggleItalic()"
                      uib-tooltip="{{ 'ITALIC' | translate }}">
                <span class="fa fa-italic fa-fw"></span>
              </button>
            </div>

            <!-- <hr> -->

            <label translate="{{ 'ALIGNMENT' }}"></label>
            <div class="form-group">
              <button type="button" class="btn btn-default" ng-click="main.textXAlign('right')"
                      uib-tooltip="{{ 'ALIGN_LEFT' | translate }}">
                <span class="fa  fa-align-left fa-fw"></span>
              </button>
              <button type="button" class="btn btn-default" ng-click="main.textXAlign('center')"
                      uib-tooltip="{{ 'ALIGN_CENTER' | translate }}">
                <span class="fa fa-align-center fa-fw"></span>
              </button>
              <button type="button" class="btn btn-default" ng-click="main.textXAlign('left')"
                      uib-tooltip="{{ 'ALIGN_RIGHT' | translate }}">
                <span class="fa fa-align-right fa-fw"></span>
              </button>
              <button type="button" class="btn btn-default" ng-click="main.textYAlign('top')"
                      uib-tooltip="{{ 'ALIGN_TOP' | translate }}">
                <span class="fa fa-long-arrow-up fa-fw"></span>
              </button>
              <button type="button" class="btn btn-default" ng-click="main.textYAlign('middle')"
                      uib-tooltip="{{ 'ALIGN_MIDDLE' | translate }}">
                <span class="fa fa-arrows-v fa-fw"></span>
              </button>
              <button type="button" class="btn btn-default" ng-click="main.textYAlign('bottom')"
                      uib-tooltip="{{ 'ALIGN_BOTTOM' | translate }}">
                <span class="fa fa-long-arrow-down fa-fw"></span>
              </button>
            </div>

          </form>
        </div>
      </uib-tab>

      <!--
      Styles
      -->

      <uib-tab heading="{{ 'STYLES' | translate }}">
        <div class="tab-content">
          <form name="styleForm">

            <div class="form-group">
              <label translate="{{ 'THEME' }}"></label>
              <select class="form-control form-content">
                <option ng-repeat="theme in main.themes track by theme.id">{{theme.value}}</option>
              </select>
            </div>

            <div class="form-group">
              <label translate="{{ 'THEME_STYLES' }}"></label>

              <div class="row-fluid">
                <div class="col-md-2 thumbnail-column">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/32x32/E3F09B">
                  </a>
                </div>

                <div class="col-md-2 thumbnail-column">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/32x32/F7D08A">
                  </a>
                </div>

                <div class="col-md-2 thumbnail-column">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/32x32/87B6A7">
                  </a>
                </div>

                <div class="col-md-2 thumbnail-column">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/32x32/F79F79">
                  </a>
                </div>

                <div class="col-md-2 thumbnail-column">
                  <a href="#" class="thumbnail">
                    <img src="http://placehold.it/32x32/5B5941">
                  </a>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="form-group">
              <label translate="{{ 'FILL' }}"></label>
            </div>

            <div class="form-group">
              <label translate="{{ 'LINE' }}"></label>
            </div>

            <div class="form-group">
              <label translate="{{ 'EFFECTS' }}"></label>
            </div>

          </form>
        </div>
      </uib-tab>

      <!--
      Arrange
      -->

      <uib-tab heading="{{ 'ARRANGE' | translate }}">
        <div class="tab-content">
          <form name="arrangeForm">

            <div class="form-group">
              <label translate="{{ 'ALIGN' }}"></label>
            </div>

            <div class="form-group">
              <label translate="{{ 'POSITION' }}"></label>
            </div>

            <div class="form-group">
              <label translate="{{ 'GROUP' }}"></label>
            </div>

          </form>
        </div>
      </uib-tab>

    </uib-tabset>

  </uib-accordion-group>
</uib-accordion>
